PUBLIC_HOLODOCK_CHECKOUT_URL=https://buy.stripe.com/...
PUBLIC_HOLODOCK_CHECKOUT_URL_TEST=https://buy.stripe.com/test_...
# Set via: wrangler pages secret put <NAME> --project-name pixelarclabs
# HOLODOCK_DOWNLOAD_SECRET=
# HOLODOCK_MASTER_LICENSE_HASH=
# STRIPE_SECRET_KEY=
# STRIPE_SECRET_KEY_TEST=
# STRIPE_WEBHOOK_SECRET=
# STRIPE_WEBHOOK_SECRET_TEST=
# RESEND_API_KEY=
# RESEND_FROM=Pixel Arc Labs <hello@pixelarclabs.com>
# CONTACT_TO=hello@pixelarclabs.com
